
<div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1 class="separator">Add {{pageName|titlecase}}</h1>
                </div>			
            </div>
        </header>
        <section class="page-content container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                    
                        <form method=""  accept-charset="UTF-8" id="" class="" enctype="" novalidate="novalidate"><input name="_method" type="hidden" value="PUT"><input name="_token" type="hidden" value="beDQ4AM6fB6BYksh6cRrPLsGVcDFcwjyd6KWlQKk">
                        
                        <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-7">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input class="form-control" id="full_name" name="full_name" type="text" placeholder="Add Name" value="">
                                            </div>
    
                                            <div class="form-group">
                                                <h3>Permissions</h3>
                                                <div class="custom-control custom-checkbox checkbox-primary form-check">
                                                    <input type="checkbox" class="custom-control-input" id="stateCheck1" checked>
                                                    <label class="custom-control-label" for="stateCheck1">All</label>
                                                </div>
                                            </div>																			
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        
                            <div class="row">
                            
                                <div class="col-md-6">
                                    <div class="form-group module-box" style="border: 1px solid #736cc7; border-radius: 5px; padding: 5px; padding: 11px 11px 11px 15px;">
                                    
                                        <h3>Size</h3>
                                
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                            <input type="checkbox" id="customcheckboxInline1" name="customcheckboxInline1" class="custom-control-input">
                                            <label class="custom-control-label" for="customcheckboxInline1">All</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                            <input type="checkbox" id="customcheckboxInline2" name="customcheckboxInline2" class="custom-control-input CheckBoxChild" checked>
                                        <label class="custom-control-label" for="customcheckboxInline2">List</label>
                                    </div>
    
                                    <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline3" name="customcheckboxInline3" class="custom-control-input CheckBoxChild">
                                    <label class="custom-control-label" for="customcheckboxInline3">Add</label>
                                    </div>
                                    
                                    <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline4" name="customcheckboxInline4" class="custom-control-input CheckBoxChild">
                                    <label class="custom-control-label" for="customcheckboxInline4">Edit</label>
                                    </div>
                                    
                                    <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline5" name="customcheckboxInline5" class="custom-control-input CheckBoxChild">
                                    <label class="custom-control-label" for="customcheckboxInline5">Delete</label>
                                    </div>
                                
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="form-group module-box" style="border: 1px solid #736cc7; border-radius: 5px; padding: 5px; padding: 11px 11px 11px 15px;">
                                    
                                        <h3>Categories</h3>
                                
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                            <input type="checkbox" id="customcheckboxInline6" name="customcheckboxInline6" class="custom-control-input">
                                            <label class="custom-control-label" for="customcheckboxInline6">All</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                            <input type="checkbox" id="customcheckboxInline7" name="customcheckboxInline7" class="custom-control-input CheckBoxChildCat">
                                        <label class="custom-control-label" for="customcheckboxInline7">List</label>
                                    </div>
    
                                    <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline8" name="customcheckboxInline8" class="custom-control-input CheckBoxChildCat">
                                    <label class="custom-control-label" for="customcheckboxInline8">Add</label>
                                    </div>
                                    
                                    <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline9" name="customcheckboxInline9" class="custom-control-input CheckBoxChildCat">
                                    <label class="custom-control-label" for="customcheckboxInline9">Edit</label>
                                    </div>
                                    
                                    <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline10" name="customcheckboxInline10" class="custom-control-input CheckBoxChildCat">
                                    <label class="custom-control-label" for="customcheckboxInline10">Delete</label>
                                    </div>
                                
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="form-group module-box" style="border: 1px solid #736cc7; border-radius: 5px; padding: 5px; padding: 11px 11px 11px 15px;">
                                    
                                        <h3>SubCategories</h3>
                                
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                                <input type="checkbox" id="customcheckboxInline11" name="customcheckboxInline11" class="custom-control-input">
                                            <label class="custom-control-label" for="customcheckboxInline11">All</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                            <input type="checkbox" id="customcheckboxInline12" name="customcheckboxInline12" class="custom-control-input CheckBoxChildSubCat">
                                            <label class="custom-control-label" for="customcheckboxInline12">List</label>
                                        </div>
    
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline13" name="customcheckboxInline13" class="custom-control-input CheckBoxChildSubCat">
                                        <label class="custom-control-label" for="customcheckboxInline13">Add</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline14" name="customcheckboxInline14" class="custom-control-input CheckBoxChildSubCat">
                                        <label class="custom-control-label" for="customcheckboxInline14">Edit</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline15" name="customcheckboxInline15" class="custom-control-input CheckBoxChildSubCat">
                                        <label class="custom-control-label" for="customcheckboxInline15">Delete</label>
                                        </div>
                                
                                        </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group module-box" style="border: 1px solid #736cc7; border-radius: 5px; padding: 5px; padding: 11px 11px 11px 15px;">
                                    
                                        <h3>Importing</h3>
                                
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                                <input type="checkbox" id="customcheckboxInline16" name="customcheckboxInline16" class="custom-control-input">
                                            <label class="custom-control-label" for="customcheckboxInline16">All</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                            <input type="checkbox" id="customcheckboxInline17" name="customcheckboxInline17" class="custom-control-input CheckBoxChildimpo">
                                            <label class="custom-control-label" for="customcheckboxInline17">List</label>
                                        </div>
    
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline18" name="customcheckboxInline18" class="custom-control-input CheckBoxChildimpo">
                                        <label class="custom-control-label" for="customcheckboxInline18">Add</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline19" name="customcheckboxInline19" class="custom-control-input CheckBoxChildimpo">
                                        <label class="custom-control-label" for="customcheckboxInline19">Edit</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline20" name="customcheckboxInline20" class="custom-control-input CheckBoxChildimpo">
                                        <label class="custom-control-label" for="customcheckboxInline20">Delete</label>
                                        </div>
                                
                                        </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group module-box" style="border: 1px solid #736cc7; border-radius: 5px; padding: 5px; padding: 11px 11px 11px 15px;">
                                    
                                        <h3>Types</h3>
                                
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                                <input type="checkbox" id="customcheckboxInline21" name="customcheckboxInline21" class="custom-control-input">
                                            <label class="custom-control-label" for="customcheckboxInline21">All</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                            <input type="checkbox" id="customcheckboxInline22" name="customcheckboxInline22" class="custom-control-input CheckBoxChildType">
                                            <label class="custom-control-label" for="customcheckboxInline22">List</label>
                                        </div>
    
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline23" name="customcheckboxInline23" class="custom-control-input CheckBoxChildType">
                                        <label class="custom-control-label" for="customcheckboxInline23">Add</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline24" name="customcheckboxInline24" class="custom-control-input CheckBoxChildType">
                                        <label class="custom-control-label" for="customcheckboxInline24">Edit</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline25" name="customcheckboxInline25" class="custom-control-input CheckBoxChildType">
                                        <label class="custom-control-label" for="customcheckboxInline25">Delete</label>
                                        </div>
                                
                                        </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group module-box" style="border: 1px solid #736cc7; border-radius: 5px; padding: 5px; padding: 11px 11px 11px 15px;">
                                    
                                        <h3>Orders</h3>
                                
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                                <input type="checkbox" id="customcheckboxInline26" name="customcheckboxInline26" class="custom-control-input">
                                            <label class="custom-control-label" for="customcheckboxInline26">All</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                            <input type="checkbox" id="customcheckboxInline27" name="customcheckboxInline27" class="custom-control-input CheckBoxChildOrd">
                                            <label class="custom-control-label" for="customcheckboxInline27">List</label>
                                        </div>
    
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline28" name="customcheckboxInline28" class="custom-control-input CheckBoxChildOrd">
                                        <label class="custom-control-label" for="customcheckboxInline28">Add</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline29" name="customcheckboxInline29" class="custom-control-input CheckBoxChildOrd">
                                        <label class="custom-control-label" for="customcheckboxInline29">Edit</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline30" name="customcheckboxInline30" class="custom-control-input CheckBoxChildOrd">
                                        <label class="custom-control-label" for="customcheckboxInline30">Delete</label>
                                        </div>
                                
                                        </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group module-box" style="border: 1px solid #736cc7; border-radius: 5px; padding: 5px; padding: 11px 11px 11px 15px;">
                                    
                                        <h3>Products</h3>
                                
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                                <input type="checkbox" id="customcheckboxInline31" name="customcheckboxInline31" class="custom-control-input">
                                            <label class="custom-control-label" for="customcheckboxInline31">All</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                            <input type="checkbox" id="customcheckboxInline32" name="customcheckboxInline32" class="custom-control-input CheckBoxChildProd">
                                            <label class="custom-control-label" for="customcheckboxInline32">List</label>
                                        </div>
    
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline33" name="customcheckboxInline33" class="custom-control-input CheckBoxChildProd">
                                        <label class="custom-control-label" for="customcheckboxInline33">Add</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline34" name="customcheckboxInline34" class="custom-control-input CheckBoxChildProd">
                                        <label class="custom-control-label" for="customcheckboxInline34">Edit</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline35" name="customcheckboxInline35" class="custom-control-input CheckBoxChildProd">
                                        <label class="custom-control-label" for="customcheckboxInline35">Delete</label>
                                        </div>
                                
                                        </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group module-box" style="border: 1px solid #736cc7; border-radius: 5px; padding: 5px; padding: 11px 11px 11px 15px;">
                                    
                                        <h3>Sales Man</h3>
                                
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                                <input type="checkbox" id="customcheckboxInline36" name="customcheckboxInline36" class="custom-control-input">
                                            <label class="custom-control-label" for="customcheckboxInline36">All</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                            <input type="checkbox" id="customcheckboxInline37" name="customcheckboxInline37" class="custom-control-input CheckBoxChildSal">
                                            <label class="custom-control-label" for="customcheckboxInline37">List</label>
                                        </div>
    
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline38" name="customcheckboxInline38" class="custom-control-input CheckBoxChildSal">
                                        <label class="custom-control-label" for="customcheckboxInline38">Add</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline39" name="customcheckboxInline39" class="custom-control-input CheckBoxChildSal">
                                        <label class="custom-control-label" for="customcheckboxInline39">Edit</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline40" name="customcheckboxInline40" class="custom-control-input CheckBoxChildSal">
                                        <label class="custom-control-label" for="customcheckboxInline40">Delete</label>
                                        </div>
                                
                                        </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group module-box" style="border: 1px solid #736cc7; border-radius: 5px; padding: 5px; padding: 11px 11px 11px 15px;">
                                    
                                        <h3>Task</h3>
                                
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                                <input type="checkbox" id="customcheckboxInline41" name="customcheckboxInline41" class="custom-control-input">
                                            <label class="custom-control-label" for="customcheckboxInline41">All</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                            <input type="checkbox" id="customcheckboxInline42" name="customcheckboxInline42" class="custom-control-input CheckBoxChildTask">
                                            <label class="custom-control-label" for="customcheckboxInline42">List</label>
                                        </div>
    
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline43" name="customcheckboxInline43" class="custom-control-input CheckBoxChildTask">
                                        <label class="custom-control-label" for="customcheckboxInline43">Add</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline45" name="customcheckboxInline45" class="custom-control-input CheckBoxChildTask">
                                        <label class="custom-control-label" for="customcheckboxInline45">Edit</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline checkbox-primary">
                                        <input type="checkbox" id="customcheckboxInline46" name="customcheckboxInline46" class="custom-control-input CheckBoxChildTask">
                                        <label class="custom-control-label" for="customcheckboxInline46">Delete</label>
                                        </div>
                                
                                        </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-footer bg-light text-center">
                            <a href="role.data.html" class="btn btn-secondary clear-form">Cancel</a>
                            <button type="submit" class="btn btn-primary load-button m-l-10"> <a href="tables.data.html" class="submit-blue">	Submit </a></button>
                        </div>
                        </div>
                        
                        </form>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- SIDEBAR QUICK PANNEL WRAPPER -->