<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">Change Password</h1>
            </div>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <form [formGroup]="resetPassForm"  (ngSubmit)="submitForm()" >                    
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-7">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Old Password</label>
                                                    <input  [formControl]="resetPassForm.controls['old_password']" class="form-control" id="old_password" name="old_password" type="password" placeholder="Old Password" >
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>New Password</label>
                                                        <input  [formControl]="resetPassForm.controls['password']" class="form-control" id="new_password" name="new_password" type="password" placeholder="New Password" >
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Confirm Password</label>
                                                            <input  [formControl]="resetPassForm.controls['confirm_password']" class="form-control" id="confirm_password" name="confirm_password" type="password" placeholder="Confirm Password" >
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer bg-light text-center">
                            
                             
                                <a  [routerLink]="['/dashboard']" class="btn btn-secondary clear-form">
                                    Cancel
                                </a>

                                <button type="submit" class="btn btn-primary load-button m-l-10"> 
                                     Submit 
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>
</div>