
  <div class="input-group date dp-years">

    <input type="text"
             placeholder="Datepicker"
             class="form-control"
             placeholder="mm/dd/yy"
             #dateInput
             [(ngModel)]="datepickerModel"
             bsDatepicker>

    <span class="input-group-addon action">
        <i class="icon dripicons-calendar"></i>
    </span>
</div>



  <!-- <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Daterangepicker"
           class="form-control"
           bsDaterangepicker>
  </div> -->


