<div class="container">



    <ng-container *ngIf="invalidToken">
        <form class="sign-in-form">

            <div class="card">
                <div class="card-body ">


                    <a  class="brand text-center d-block m-b-20">
                        <img src="assets/img/qt-logo_2x.png" alt="QuantumPro Logo" />
                    </a>
                    <h5 class="sign-in-heading text-center m-b-20">Invalid Link</h5>

                    <a [routerLink]="['/auth/forgot-password']">

                        <h5 class="sign-in-heading text-center m-b-20">Request Again?</h5>
                    </a>


                </div>
            </div>
        </form>

    </ng-container>





    <ng-container *ngIf="showResetPasswordForm">
        <form [formGroup]="resetPassForm" (ngSubmit)="submitForm()" class="sign-in-form">
            <div class="card">
                <div class="card-body">
                    <a href="index.html" class="brand text-center d-block m-b-20">
                        <img src="assets/img/qt-logo_2x.png" alt="QuantumPro Logo" />
                    </a>
                    <h5 class="sign-in-heading text-center m-b-20">Reset your Password</h5>

                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input [formControl]="resetPassForm.controls['password']" type="password" id="inputPassword"
                            class="form-control" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <label for="inputConfirmPassword" class="sr-only">Conform Password</label>
                        <input [formControl]="resetPassForm.controls['confirm_password']" type="password"
                            id="inputConfirmPassword" class="form-control" placeholder="Confirm Password">
                    </div>

                    <button class="btn btn-primary btn-rounded btn-floating btn-lg btn-block" type="submit">
                        Reset Password
                    </button>
                    <!-- <p class="text-muted m-t-25 m-b-0 p-0">Don't have an account yet?<a href="auth.register.html"> Create an account</a></p> -->
                </div>

            </div>
        </form>


    </ng-container>

</div>