<div class="container">
    <form [formGroup]="loginForm"  (ngSubmit)="submitForm()" class="sign-in-form" >
        <div class="card">
            <div class="card-body">
                <a href="index.html" class="brand text-center d-block m-b-20">
                    <img src="assets/img/qt-logo_2x.png" alt="QuantumPro Logo" />
                </a>
                <h5 class="sign-in-heading text-center">Forgotten Password?</h5>
                <p class="text-center text-muted">Enter your email to reset your password</p>

                <!-- <app-form-errors [formErrors]="formErrors"  [apiError]="apiError"></app-form-errors> -->

                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input [formControl]="loginForm.controls['email']" type="email" id="inputEmail" class="form-control" placeholder="Email address" >
                </div>
                <button class="btn btn-primary btn-rounded btn-floating btn-lg btn-block" type="submit">Reset Password</button>
                <p class="text-muted m-t-25 m-b-0 p-0">
                    <a [routerLink]="['/auth/login']" style="float:right;"> Back to Login</a>
                </p>
                <!-- <a href="auth.sign-in.html"> Back to Login</a></p> -->
            </div>
        </div>
    </form>
</div>